<% content_for :title, "New Subject" %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>New Subject</h1>
  <%= link_to subjects_path, class: "btn btn-outline-secondary" do %>
    <i class="bi bi-arrow-left"></i> Back
  <% end %>
</div>

<%= render 'form', subject: @subject %>
