<% content_for :title, "Editing scool_class" %>

<h1>Editing scool_class</h1>

<%= render "form", scool_class: @scool_class %>

<br>

<div>
  <%= link_to "Show this scool_class", @scool_class %> |
  <%= link_to "Back to scool_classes", scool_classes_path %>
</div>
