<p style="color: green"><%= notice %></p>

<% content_for :title, "SchoolClasses" %>

<h1>SchoolClasses</h1>

<div id="scool_classes">
  <% @scool_classes.each do |scool_class| %>
    <%= render scool_class %>
    <p>
      <%= link_to "Show this scool_class", scool_class %>
    </p>
  <% end %>
</div>

<%= link_to "New scool_class", new_scool_class_path %>
