<% content_for :title, "Editing Course" %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Editing Course</h1>
  <%= render 'shared/edit_actions',
             resource: @course,
             resource_name: 'course',
             index_path: courses_path %>
</div>

<div class="card shadow-sm mb-4">
  <div class="card-body">
    <%= render "form", course: @course %>
  </div>
</div>
